extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut mauris fringilla, porta sem sit amet, blandit urna. Integer vulputate nisl sodales neque facilisis, ut efficitur arcu feugiat. Vivamus quis purus et nunc scelerisque ultricies. Duis facilisis varius quam, in imperdiet libero sagittis quis. Vivamus sagittis tristique ex vitae ultrices. 
                p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ac mi sit amet erat gravida venenatis id in turpis. Vestibulum eget nibh felis. Praesent aliquet elit non diam imperdiet, sit amet porta ex pulvinar. Fusce a molestie risus. Vestibulum mollis arcu aliquet augue sodales iaculis. Donec dignissim rutrum sollicitudin. Donec sodales lacus ut augue feugiat venenatis. Phasellus et odio felis.
                p Sed lacinia nulla ipsum, non commodo lectus placerat et. Pellentesque laoreet suscipit congue. Pellentesque pulvinar nulla id libero blandit suscipit. Sed malesuada lacus ante, at porta risus tempor quis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vestibulum vulputate dignissim quam, at vestibulum arcu venenatis faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Vestibulum vulputate dignissim quam, at vestibulum arcu venenatis faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Vestibulum vulputate dignissim quam, at vestibulum arcu venenatis faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.                     